<!-- dodać klasę componentu w pliku .ts -->
<!-- dodać prostą strukturę w pliku .html -->

<!-- 
    Ważne pamiętaj aby dodać Twój nowo utworzyny komponent do
    głównego modułu -> app.module.ts
-->
<h2>This is my own component</h2>

<!-- musimy pamiętać o tym, aby używać ngModel musimy 
    zaimporować moduł FormsModule w pliku app.module.ts -->
    
<!-- two way data bindin -->
<input [(ngModel)]="name"/>
<!-- string interpolation -->
{{name}}
I'm {{yearsOld}} years old.

<!-- event binding -->
<button (click)="onButtonClick()">Change Image to żwir</button>
<!-- property binding -->
<img [src]="imageUrl" />
