// Zagnieżdżanie w SCSS, a dokładnie w preprocesorze Sass
// to jest jeden z fajniejszych 'ficzerów' jakie możemy używać 
// Zagnieżdżanie stosuje się m.in. po to, aby zredukować w kodzie ilość powtórzeń 
// (i przyszłych zmian) reguł rozpoczynających się w ten sam sposób.

// a zagieżdżanie wygląda tak:

//pyk
.page {
    display: flex;
    flex-direction: column;

    //pyk
    .box {
        // a po kompilacji do CSS kod będzie wyglądał tak:
        //.page .box { +poniższy blok kodu }
        display: flex;    
        height: 100px;
        width: 200px;
        transition: all .3s ease-in-out;
        background-color: darkgoldenrod;
    }
    
    .box--active {
        background-color: darkolivegreen;
    }
    
    .box--active {
        .btn--animated {
            left: calc(100% - 100px);
        }
    }
    
    .btn--animated {
        width: 100px;
        position: relative;
        left: 0;
        transition: left .3s ease-in-out;
    }

    .decorator {
        width: 100px;
    }

    button {
        padding: 5px;
    }

    ul {
        margin: 0;
    }
}

