<section class="page">
    <p>our component works!</p>

    <h1 *ngIf="isVisible; else notVisible;">
        <img class="decorator" src="../../../assets/Rocket.png" alt="Let's rockIT" />
        Hello! I'm visible!!!
    </h1>    
    <ng-template #notVisible>
        Uups! I'm not visible anymore!!!
    </ng-template>

    <button (click)="onButtonClick()">Click Click!</button>
    <hr/>
    <ul>
        <!-- <li *ngFor="let name of namesArr; let i = index;">
            <h2>{{i}}</h2>
            {{name}}
        </li> -->
        <app-list-item 
            *ngFor="let todoItem of todoItemsArray; let i = index;"
            [todo]="todoItem"
            (outputName)="handleChange($event)"
            >
        </app-list-item>
    </ul>
    
    <div class="box" [ngClass]="{'box--active': isActive}">
        <button class="btn--animated" (click)="onElementActivate()">
            <span *ngIf="!isActive; else deactivate">Activate Element</span>
            <ng-template #deactivate>Deactivate Element</ng-template>
        </button>
    </div>
    
    <!-- <div>
        <div>Dividividyzm</div>
    </div> -->
</section>


