<header>
    <app-nav></app-nav>
</header>
<!-- wyświetlenie komponentów pod daną ścieżką -->
<main class="angular-tutorial">
    <router-outlet></router-outlet>
</main>

<!-- <h1>Welcome in Angular</h1>
<h2 class="heading--1">This is awesome!</h2>

<app-my-own></app-my-own> -->

<!-- <app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component>
<app-my-first-component></app-my-first-component> -->