h1 {
    color: red;
}

.angular-tutorial {
    padding: 30px 30px 0 30px;

    //Tak wygląda zagnieżdżony media query w SCSS i będzie on dotyczył tylko stylowania elementu <main>
    @media only screen and (max-width: 576px) {
        padding: 20px 20px 0 20px;
    }

}

.heading--1 {
    color: darkcyan;
}