//w zmiennych możemy trzymać też kolory
$primary-grey--1: #ced4da;
$primary-grey--2: #e9ecef;

.item {
    // display: flex;
    // flex-direction: column;
}

.item span {
    display: block;
}

.date {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-top: 1px solid $primary-grey--1;
    border-bottom: 1px solid $primary-grey--1;
    background-color: $primary-grey--2;
    font-size: 12px;
}