<!-- <p>list-item works!</p>
{{data}}
<button (click)="onDataEmit()">Emit new name</button> -->

<!-- todo description -->
<!-- todo date -->
<!-- <div class="item">
    <span>{{todo.description | uppercase}}</span>
    <span>{{todo.date | date: 'dd/MM/yy'}}</span>
</div> -->

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox"/>
      </div>
    </div>

    <input
      type="text"
      class="form-control"
      [(ngModel)]="todo.description"
    />

    <span class="date">{{todo.date | date: 'dd/MM/yy'}}</span>
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="onDeleteTodo(index)"
      >
        Remove
      </button>
    </div>
</div>