
// W SCSS możemy używać zmiennych, ich deklaracja jest prosta
$breakpoint-sm: 576px;

.nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #aaa;
}

.nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    // domyślne zachowanie
    flex-direction: row;
    list-style: none;
    text-align: center;
}

@media only screen and (max-width: $breakpoint-sm) {
    // powyżej masz użycie zmiennej. Czy to nie fajne?
    .nav__list {
        flex-direction: column;
    }
}

.nav__item {
    padding: 20px;
}