<!-- BEM -->
<!-- B - block -->
<!-- E - element -->
<!-- M - modifier -->

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <!-- href w angularze zmieniamy na routerLink -->
            <a class="nav__link" routerLink="/">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" routerLink="/about">About</a>
        </li>
        <li class="nav__item">
            <a routerLink="/contact">Contact</a>
        </li>
        <li class="nav__item">
            <a class="nav_link" routerLink="/todo">Todo</a>
        </li>
    </ul>
</nav>
